<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="4" md="4">
      <v-card class="mx-auto text-center" color="green" dark>
        <v-card-text>
          <div class="display-1 font-weight-thin" v-if="wallet1">
            {{wallet1.base}} - ${{wallet1.ammount}} - {{wallet1.wallet.length}} Ativos
          </div>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text>
          <v-sheet color="rgba(0, 0, 0, .12)" v-if="list1">
            <v-sparkline
              :value="list1"
              color="rgba(255, 255, 255, .7)"
              height="100"
              padding="24"
              stroke-linecap="round"
              auto-draw
              type="trend"
              smooth
            >
              <template v-slot:label="item">
                {{ item.value | currency }}
              </template>
            </v-sparkline>
          </v-sheet>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" sm="4" md="4">
      <v-card class="mx-auto text-center" color="blue" dark>
        <v-card-text>
          <div class="display-1 font-weight-thin" v-if="wallet2">
            {{wallet2.base}} - ${{wallet2.ammount}} - {{wallet2.wallet.length}} Ativos
          </div>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text>
          <v-sheet color="rgba(0, 0, 0, .12)" v-if="list2">
            <v-sparkline
              :value="list2"
              color="rgba(255, 255, 255, .7)"
              height="100"
              padding="24"
              stroke-linecap="round"
              auto-draw
              type="trend"
              smooth
            >
              <template v-slot:label="item">
                {{ item.value | currency }}
              </template>
            </v-sparkline>
          </v-sheet>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" sm="4" md="4">
      <v-card class="mx-auto text-center" color="red" dark>
        <v-card-text>
          <div class="display-1 font-weight-thin" v-if="wallet3">
            {{wallet3.base}} - ${{wallet3.ammount}} - {{wallet3.wallet.length}} Ativos
          </div>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text>
          <v-sheet color="rgba(0, 0, 0, .12)" v-if="list3">
            <v-sparkline
              :value="list3"
              color="rgba(255, 255, 255, .7)"
              height="100"
              padding="24"
              stroke-linecap="round"
              auto-draw
              type="trend"
              smooth
            >
              <template v-slot:label="item">
                {{ item.value | currency }}
              </template>
            </v-sparkline>
          </v-sheet>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      list1: null,
      wallet1: null,
      list2: null,
      wallet2: null,
      list3: null,
      wallet3: null
    }
  },
  created() {
    this.getData1();
    this.getData2();
    this.getData3();
  },
  methods: {
    async getData1() {
      const list = await this.$axios.$get('https://nervous-shockley-64eddd.netlify.app/.netlify/functions/listHistory?wallet=6085bb889e00270312f1a37b');
      if(list.snapshots){
        this.list1 = list.snapshots.map( elem => parseFloat(elem.portifolio_size.toFixed(2)) );
      }
      if (list.wallet) {
        this.wallet1 = list.wallet;
      }
    },
    async getData2() {
      const list = await this.$axios.$get('https://nervous-shockley-64eddd.netlify.app/.netlify/functions/listHistory?wallet=6085bc1a9e00270312f1a37c');
      if(list.snapshots){
        this.list2 = list.snapshots.map( elem => parseFloat(elem.portifolio_size.toFixed(2)) );
      }
      if (list.wallet) {
        this.wallet2 = list.wallet;
      }
    },
    async getData3() {
      const list = await this.$axios.$get('https://nervous-shockley-64eddd.netlify.app/.netlify/functions/listHistory?wallet=6085bcca9e00270312f1a37d');
      if(list.snapshots){
        this.list3 = list.snapshots.map( elem => parseFloat(elem.portifolio_size.toFixed(2)) );
      }
      if (list.wallet) {
        this.wallet3 = list.wallet;
      }
    }
  }
}
</script>
